<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Doces Gustavo</title>
        {% endblock head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% include "parts/styles.njk" %}
    </head>
    <body>
        {% include "parts/messages.njk" %}

        {% include "parts/header.njk" %}

        {% block content %} {% endblock %}

        {% include "parts/footer.njk" %}
    </body>
</html>